<!--
  Generated template for the TicketsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title> {{ 'master.tickets' | translate }} </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card  *ngFor="let tic of tickets">
    <ion-card-content>
      <ion-note> {{ usingMomentJs(tic.created_at).fromNow() }} </ion-note>

      <ion-card-title>
        {{ tic.ticket_title }}
      </ion-card-title>

      <p>
        <ion-icon name="folder"></ion-icon>
        {{ tic.category_name }}:
        {{ tic.ticket_desc }}
      </p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button (click)="modalView(tic.ticket_id)" ion-button icon-start clear item-end>
          <ion-icon name="eye"></ion-icon>
          <div>View</div>
        </button>
      </ion-col>

      <ion-col align-self-center text-center>
        <ion-note *ngIf="tic.ticket_priority == 'high'">
          <span style="color:red">High Priority</span>
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-fab bottom center>
    <button (click)="modalAdd()" ion-fab mini><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>
